$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url("http://css-spinners.com/css/spinner/throbber.css");

body {
  padding-top: 60px;
}

button {
	margin-right: 5px;
}

.row {
	margin-top: 10px;
}

